<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add New Meal</title>
</head>
<body>
  <h3>Add a new meal</h3>
  <form id="addMealForm" action="#" th:action="@{/meals/add}" th:object="${meal}" method="post">
    <p>Main Food: <input type="text" th:field="*{food}" /></p>
    <p>First Side: <input type="text" th:field="*{side}" /></p>
    <p>Calories: <input type="text" th:field="*{calories}" /></p>
    <!-- Hide Person ID input and make it readonly -->
    <input id="personIdInput" type="hidden" th:field="*{personId}" readonly />
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </form>
<script>
  console.log("script from add-meal");
  document.addEventListener('DOMContentLoaded', function() {
    const userInfo = JSON.parse(localStorage.getItem('userInfo'));
    if (userInfo && userInfo.id) {
      document.getElementById('personIdInput').value = userInfo.id;
    }
  });

</script>
</body>
</html>
