<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
  <title>Books</title>
</head>
<body>

<h2>Books</h2>
<div layout:fragment="content">
  <div>
    <ul>
      <li th:each="book : ${books}">
        <span th:text="${book.title} + ' by ' + ${book.author}">Book title by Author name</span>
        <a th:href="@{/books/delete/{id}(id=${book.id})}" style="margin-left: 10px;">Delete</a>
    </ul>
  </div>
</div>


</body>
</html>
