<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meals List</title>

</head>
<body>
<div class="container">
    <h1>Meals List</h1>
    <table>
        <thead>
        <tr>
            <th>Main Food</th>
            <th>Side</th>
            <th>Calories</th>
            <th>Person ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meal : ${meals}">
            <td th:text="${meal.food}">Main Food</td>
            <td th:text="${meal.side}">Side</td>
            <td th:text="${meal.calories}">Calories</td>
            <td th:text="${meal.personId}">PersonId</td>
        </tr>
        </tbody>
    </table>
    <br>    <br>
    <a href="/meals/add" class="btn">Add New Meal</a>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log("script from meals");

    });

</script>
</body>
</html>
