<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Persons</title>
</head>
<body>
<div id="userGreeting"></div>
<h2>Persons</h2>
<!-- Existing persons list HTML -->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}">
        <td th:text="${person.userName}">Main Food</td>
        <td th:text="${person.email}">First Side</td>
    </tr>
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log("script");
        const userInfo = JSON.parse(localStorage.getItem('userInfo'));
        if (userInfo && userInfo.userName) {
            document.getElementById('userGreeting').innerHTML = `Welcome, ${userInfo.userName} | <a href="javascript:logout()">Logout</a>`;
        } else {
            document.getElementById('userGreeting').innerHTML = '<a href="/login">Login</a>';
        }
    });

    function logout() {
        localStorage.removeItem('userInfo');
        window.location.href = '/login';
    }
</script>
</body>
</html>
